h1
{
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-size: 24px; font-style: normal;
    font-variant: normal; font-weight: 700;
    line-height: 26.4px;
    margin-bottom: 0px;
}

h3
{
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 15.4px;
}

p
{
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
    margin: 0px;
}

blockquote
{
    font-family: Futura, "Trebuchet MS", Arial, sans-serif; font-size: 21px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 30px;
}

pre
{
    font-family: Futura,
    "Trebuchet MS",
    Arial,
    sans-serif;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 18.5714px;
}

div
{
    width: 800px;
    margin: 0px auto;
    padding: 50px;
}

table
{
    border-spacing: 0px;
}

.AlbumCover
{
    border-radius: 40px;
    width: 200px;
    display:inline-block;
    position:absolute;
    right:30px;
    top:50px;
}

.subheader
{
    font-style: italic;
}

.card
{
    background-color: lightblue;
    position: relative;
    margin-top: 40px;
    -webkit-border-radius: 80px;
}

.preview_card
{
    width: 600px;
    background-color: whitesmoke;
    -webkit-border-radius: 60px;
}

.feed
{
    background-color: white;
}

a
{
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

a:link {
    color: lightcoral;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: red;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: gold;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}

.header
{
    padding: 10px;
}

.home
{
    background-color: white;
    display:inline-block;
    position:absolute;
    right:30px;
    top:40px;
}

.checkbox
{
    width: 200px;
    padding: 0px;
    margin-left: 0px;
}

.filter
{
    width: 200px;
    background-color: white;
}